.vt-image-fullscreen {
  &__preview {
    display: inline-block;

    img {
      cursor: zoom-in;
      object-fit: scale-down;
    }

    &:hover ::v-deep img {
      transform: scale(1.01);
      transition: transform 0.3s ease;
    }
  }

  &__overlay {
    position: fixed;
    opacity: 0.98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-gray-6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $z-index-max;

    img {
      max-width: 95%;
      max-height: 95%;
      object-fit: contain;
    }
  }

  &__content {
    position: relative;
    width: 90%;
    height: 90%;

    img {
      position: absolute;
      width: 100%;
      height: 100% !important;
      @include center-position(50%, 50%);
    }
  }
}