@use '../../assets/fonts' as *;

.vt-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &__nav {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    border-bottom: 1px solid var(--color-gray-5);
    background-color: #FFFFFF;
    height: 56px;
  }

  &__scrollable {
    flex: 1;
    overflow-x: auto !important;
    overflow-y: hidden !important;

    scrollbar-width: none !important;
    -ms-overflow-style: none !important;

    &::-webkit-scrollbar {
      display: none !important;
    }
  }

  &__items {
    display: flex;
    min-width: min-content;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    flex-shrink: 0;
    background: linear-gradient(to right, #FFFFFF 70%, transparent);
    border: none;
    cursor: pointer;
    color: var(--color-gray-4);
    transition: color 0.2s;
    z-index: 1;

    &:hover {
      color: var(--color-primary-main);
    }

    &--left {
      background: linear-gradient(to right, #FFFFFF 70%, transparent);
      border-right: 1px solid var(--color-gray-5);
    }

    &--right {
      background: linear-gradient(to left, #FFFFFF 70%, transparent);
      border-left: 1px solid var(--color-gray-5);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    overflow: hidden;
    height: 100%;
  }

  &__nav-item {
    @include vt-typography('vt-tabs');
    padding: 12.5px;
    cursor: pointer;
    position: relative;
    color: var(--color-gray-4);
    transition: all 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    flex-shrink: 0;

    &.is-active {
      color: var(--color-primary-main);
      border-bottom: 5px solid var(--color-primary-main);
    }

    &.is-disabled {
      color: var(--color-gray-5);
      cursor: not-allowed;
    }
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: #f56c6c;
    }
  }

  &__pane {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    overflow: hidden;
    height: 100%;
  }
}