.vt-loader-base__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: all;
}

.vt-loader-base {
  border-radius: 50%;
  position: relative;
  animation: vt-rotate 1s linear infinite;
  width: 48px;
  height: 48px;
}

.vt-loader-base::before,
.vt-loader-base::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #e0e0e0;
  animation: vt-prixClipFix 2s linear infinite;
}

.vt-loader-base::after {
  border-color: #ffbd3e;
  animation:
          vt-prixClipFix 2s linear infinite,
          vt-rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes vt-rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes vt-prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}