.vt-language-select {
  width: 100%;

  &__selected,
  &__option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  &__flag {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  &__label {
    font-family: Roboto, sans-serif;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    line-height: 16.4px;
    color: var(--color-primary-main);
  }
}