.vt-video-player {
  border-radius: var(--vt-padding-sm);
  height: 280px;
  background-color: var(--color-gray-4);
  opacity: 0.9;

  &__video {
    height: 280px;
  }

  &__play-btn {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;

    border: solid var(--vt-padding-sm) rgba(0, 71, 90, 0.2);
    box-shadow: none;

    span {
      position: absolute;
      left: 55%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-left: var(--vt-padding-lg) solid var(--color-primary-main);
    }

    &:hover span {
      border-left: var(--vt-padding-lg) solid var(--color-white);
    }
  }
}