.hub-sidebar {
  display: flex;
  flex-direction: column;
  min-width: 215px;
  max-width: 215px;
  background-color: #063f4e;
  padding: 5px 10px;
  transition: width 0.2s;
  position: relative;
}

.hub-sidebar.collapsed {
  min-width: 60px;
  max-width: 60px;
}

.hub-sidebar-nav {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hub-sidebar-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.hub-sidebar-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

.hub-sidebar-footer.collapsed {
  justify-content: center;
}

.hub-item {
  position: relative;
  user-select: none;
}

.hub-item-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;  cursor: pointer;
  height: 40px;
  margin: 5px 0;
  background-color: #063f4e;
  color: #9ac9d6;

  &.active {
    background-color: #00546a;
    color: #ffffff;
    border-radius: 5px;

    .hub-item-icon,
    .hub-item-label,
    .hub-item-arrow {
      color: #ffffff;
    }
  }

  &:hover {
    background-color: #00546a;
    color: #ffffff;
    border-radius: 5px;

    .hub-item-icon,
    .hub-item-label,
    .hub-item-arrow {
      color: #ffffff;
    }
  }
}

.hub-item-main.collapsed {
  justify-content: center;
}

.hub-item-icon {
  width: 24px;
  text-align: center;
  font-size: 18px;
  margin: 0 8px;
}

.hub-item-divider {
  border-bottom: 1px solid #00546a;
}

.hub-item-label {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 50px;
  white-space: nowrap;
  font-size: 14px;
  color: #9ac9d6;
}

.hub-item-arrow {
  margin-left: auto;
}

/* --- RIGHT-POPOUT MENU --- */

.hub-submenu {
  position: fixed;
  min-width: 250px;
  max-width: 250px;
  border-radius: 5px;
  background-color: #063f4e;
  color: #9ac9d6;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.12);
  z-index: 5000;
  animation: fadeIn 0.12s ease-out;
  overflow-y: auto;               /* скрол всередині */
  scrollbar-width: none;          /* Firefox hide scrollbar */
  -ms-overflow-style: none;
}

.hub-submenu::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-5px); }
  to   { opacity: 1; transform: translateX(0); }
}

.hub-submenu-list {
  list-style: none;
  padding: 6px 0;
  margin: 0;
}

.hub-submenu-item {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;

  &.active {
    background-color: #00546a;
    color: #ffffff;
    border-radius: 5px;
  }
}

.hub-submenu-item:hover {
  color: #ffffff;
  background-color: #00546a;
}

.hub-submenu-parent-label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin: 10px;
  font-size: 16px;
}

.hub-submenu-label {
  margin-left: 10px;
  font-size: 14px;
}