:root {
  --vt-padding-base: 10px;
  --vt-padding-lg: 20px;
  --vt-padding-sm: 5px;

  --padding-button: 8px 16px;
  --padding-pagination: 10px 0;
  --padding-table-cell: 10px;
  --padding-modal-header: 15px 20px;
}