.vt-page {
  // Стилі сторінки
  &__card {
    // Головний стиль картки (врапер без бердкрампу та пагінації)
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-main);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &-header {
      // Хедер картки (в ньому фільтр + можлива кнопка зправа)
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: var(--vt-padding-base);
      gap: var(--vt-gap-base);
    }

    &-filter {
      // Стилі динамічного фільтру
      display: flex;
      align-items: center;
      gap: var(--vt-gap-base);
      box-sizing: border-box;

      &__inline {
        display: flex;
        gap: var(--vt-gap-base);
        align-items: center;
        flex-shrink: 1;
        min-width: 0;
      }

      &__actions {
        display: flex;
        gap: var(--vt-gap-base);
        flex-shrink: 0;
      }

      &__dropdown {
        flex-shrink: 0;

        &-target {
          display: flex;
          flex-direction: column;
          gap: var(--vt-gap-base);
        }
      }

      &__measure {
        &-root {
          position: absolute;
          left: -9999px;
          top: -9999px;
          width: auto;
          height: auto;
          visibility: hidden;
          pointer-events: none;
          white-space: nowrap;
        }

        &-element {
          display: inline-block;
          white-space: nowrap;
          margin-right: 10px; /* той же GAP, що і у логіці */
        }
      }

      &__control {
        white-space: nowrap;

        .vt-select,
        .vt-datepicker,
        .vt-timepicker {
          min-width: 150px;
          flex-shrink: 0;
        }
      }
    }

    &-form {
      flex-grow: 1;
      min-height: 0;
      overflow: hidden;
      display: flex;

      &-header {
        height: 56px;
        border-bottom: 1px solid var(--color-gray-5);
        padding: var(--vt-padding-base) var(--vt-padding-lg);
        flex-shrink: 0;
        display: flex;
        align-items: center;
      }

      &-body {
        padding: var(--vt-padding-base) 0;
        flex-grow: 1;
        overflow-y: auto;
        min-height: 0;
        display: flex;
        flex-direction: column;
        &-item {
          display: flex;
          flex-direction: row;
          align-items: start;
          padding: 0 var(--vt-padding-lg) var(--vt-padding-base);

          label {
            width: 250px;
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-regular);
            color: var(--color-gray-2);
            text-align: left;
            flex-shrink: 0;
          }
        }
      }
    }
  }

  &__footer {
    flex-shrink: 0;
    position: relative;
    display: flex;
    padding-top: var(--vt-padding-base);
    justify-content: flex-end;
    gap: var(--vt-gap-base);
    align-items: center;
  }
}