.vt-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;

  &__wrapper {
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 50px 60px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--vt-padding-lg);
  }

  &__greeting {
    width: 190px;
    font-family: Roboto, sans-serif;
    font-size: var(--font-size-sm);
    line-height: 21px;
    font-weight: var(--font-weight-regular);
    color: var(--color-gray-1);
    text-align: center;
    padding-bottom: var(--vt-padding-lg);
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: var(--vt-gap-lg);

    &-item {
      font-family: Roboto, sans-serif;
      color: var(--color-primary-main);
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-regular);
      line-height: 16.4px;
      text-align: left;

      &--row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      &--center {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }

    &-label {
      font-family: Roboto, sans-serif;
      color: var(--color-primary-main);
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-regular);
      margin-bottom: var(--vt-padding-sm);

      &__required {
        &:after {
          content: '*';
          color: var(--color-danger-main);
          margin: 3px;
        }
      }
    }

    &-submit {
      width: 100%;
    }
  }

  &__link {
    color: var(--color-primary-main);
    text-decoration: underline;
  }
}