$vt-message-prefix: 'vt-message';

@mixin message-type($type-name) {
  &--#{$type-name} {
    background-color: var(--color-#{$type-name}-bg);;
    border-color: var(--color-#{$type-name}-main);;
    color: var(--color-gray-1);

    .#{$vt-message-prefix}-title {
      color: var(--color-#{$type-name}-main);
      font-size: var(--font-size-medium);
      font-weight: var(--font-weight-semibold);
    }
  }
}

.#{$vt-message-prefix}-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  pointer-events: none;
}

.#{$vt-message-prefix}-item {
  display: flex;
  align-items: center;
  padding: var(--vt-padding-lg);
  margin-bottom: 10px;
  border-radius: var(--radius-main);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  background: white;
  border: 1px solid;
  pointer-events: auto;
  min-width: 300px;
  max-width: 500px;
  word-wrap: break-word;

  @include message-type('primary');
  @include message-type('success');
  @include message-type('warning');
  @include message-type('danger');
}

.#{$vt-message-prefix}-icon {
  margin-right: 15px;
  display: flex;
  align-items: center;
  align-self: flex-start
}

.#{$vt-message-prefix}-content {
  flex: 1;
  align-self: flex-start
}

.#{$vt-message-prefix}-title {
  flex: 1;
  align-self: flex-start;
  margin-bottom: 10px;
}

.#{$vt-message-prefix}-close {
  align-self: flex-start;
  margin-left: 15px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--color-gray-3);
  }
}

// Анімації
.#{$vt-message-prefix}-enter-active {
  transition: all 0.3s ease;
}

.#{$vt-message-prefix}-leave-active {
  transition: all 0.3s ease;
}

.#{$vt-message-prefix}-enter-from {
  transform: translateX(100%);
  opacity: 0;
}

.#{$vt-message-prefix}-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.#{$vt-message-prefix}-move {
  transition: transform 0.3s ease;
}